.chord-card {
    max-width: 250px;
    margin: 10px;
    position: relative;
    display: flex;
    overflow: visible;
    align-items: center;
    .chord-details {
        width: 50%;
        text-align: right;
    }
    .chord-name {
        font-weight: bold;
    }
    .drag-handle {
        width: 100%;
        text-align: center;
    }
    .add-to-song {
        position: absolute;
        top: -8px;
        right: -8px;
    }
}
