.chord-card {
    max-width: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
    .chord-details {
        width: 50%;
        text-align: right;
    }
    .chord-name {
        font-weight: bold;
    }
}
