.create-chord-region {
    font-family: Roboto;
    width: 50%;
    .new-chord__header {
        display: flex;
        justify-content: space-between;
    }

    .new-chord__body {
        display: flex;
        flex-wrap: wrap;
    }

    .new-chord__options {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .new-chord-option {
        padding: 10px;
        &__dropdown {
            ul {
                padding-left: 0px;
            }
            input {
                font-size: 1rem;
            }
        }
    }
    .new-chord__grid {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }
}
