.instrument-string {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: 1px solid black;
    position: relative;
    &.unplayed:before {
        font-family: arial;
        content: 'x';
        position: absolute;
        top: -18%;
        left: 70%;
    }
    &.no-fret:before {
        font-family: arial;
        content: 'o';
        position: absolute;
        top: -18%;
        left: 70%;
    }
    .fret {
        position: relative;
        flex: 1;
        height: 30px;
        border-bottom: 1px solid black;
        &:first-child {
            border-top: 2px solid black;
        }
        .dot {
            top: 7px;
            color: white;
            font-size: 9px;
            text-align: center;
            line-height: 15px;
            background-color: black;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            position: absolute;
            left: 65%;
        }
    }
    &:first-child {
        border-left: none;
        & .fret {
            border-top: none;
            border-bottom: none;
        }
    }
    &:last-child {
        border-right: 1px solid black;
    }
}
