#app-wrapper {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    .app-layout {
        display: flex;
    }

    .app-menu-bar {
        background-color: pink;
    }

    .controls {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
