.add-chord-region {
    width: 50%;
    .new-chord-entry {
        padding: 10px;
        .new-chord-options {
            display: flex;
            flex-wrap: wrap;
        }
        .search-filter {
            padding: 10px;
            width: 30%;
            &__dropdown {
                ul {
                    padding-left: 0px;
                }
                input {
                    font-size: 1rem;
                }
            }
        }
    }
}
