.songsheet {
    $this: &;
    position: fixed;
    display: flex;
    background-color: darkgray;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 40%;
    flex-direction: column;

    &--closed {
        flex-grow: .0001;
        transition: flex-grow 1000ms linear;
        #{$this}__new-song, #{$this}__header, #{$this}__songs {
            display: none;
        }
    }
    &__header {
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    &__controls {
        z-index: 2;
    }

    &__title {
        padding-left: 20px;
    }

    &__songs {
        margin: 10px;
    }

    &__chords {
        display: flex;
        overflow-x: scroll;
    }

    &__song {
        overflow: scroll;
    }
}
