<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">

        <title>{%=o.htmlWebpackPlugin.options.title || 'Nuix Cherry'%}</title>

        {% if (o.htmlWebpackPlugin.files.css) { %}
        <link rel="stylesheet" type="text/css" href="{%=o.htmlWebpackPlugin.files.css%}">
        {% } %}

        {% if (o.htmlWebpackPlugin.files.favicon) { %}
        <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
        {% } %}
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browser-message">
                You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->

        <noscript>
            <!-- Message to display if JavaScript is not enabled in the browser -->
            <p class="browser-message">
                This application requires JavaScript to be enabled.
                Here are <a href="http://www.enable-javascript.com/" target="_blank">
                instructions for enabling JavaScript in your web browser</a>.
            </p>
        </noscript>

        <div id="app"></div>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
        {% } %}
        <script>
            (function () {
                document.documentElement.removeAttribute('class');
            })();
        </script>
    </body>
</html>
